* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    font-size: 14px;
    background: #efefef;
}

.home-menu {
    background-color: #ffffff;
    padding: 1.4em;

}

.pure-menu .pure-menu-heading {
    color: white;
    font-size: 120%;
}

.home-menu ul {
    float: right;
}

.logo {
    width: 220px;
    height: 24px;
    font-size: 1.2em;
    font-family: Georgia;
    color: black;
}

.logo .dabobo {
    font-family: 'Heiti SC';
}

.logo .blodely {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.logo .domaintop {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}